<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LogFilePath" value="Win7Events.log"/>
        <add key="EventSubscriptionXMLPath" value="EventSubcription.xml"/>
        <add key="DelaySecondsForAppLaunch" value="8"/>
    </appSettings>
</configuration>